<% if not user_signed_in? %>

    <div class="rows">
      <div class="jumbotron">
        <center>
          <b><p style="color:#black;font-size:25px;"> YOU ARE LOGGED OUT. PLEASE LOG IN TO POST TWEETS. </p></b>
        </center>
      </div>
    </div>

<% end %>



<div class="rows">

	<div class="col-xs-3">
		
		<div class="panel panel-default">
  			<div class="panel-body">
  				INFO
			</div>
		</div>
		
		<div class="panel panel-default">
  			<div class="panel-body">
  				TRENDS
			</div>
		</div>

	</div>

	<div class="col-xs-6">

    <% if user_signed_in? %>
  		<div class="panel panel-default">
    			<div class="panel-body">
    				<%= render '/posts/posts_form' %>
  			</div>
  		</div>	
    <% end %>

		<% for @p in @posts%>
		<div class="panel panel-default">
  			<div class="panel-body row">

  				<div class="col-sm-1">
  					<p> PICTURE </p>
  				</div>

  				<div class="col-sm-11">
  					<% @name = User.find_by_id(@p.user_id) %>
  					<p class="post-title"; style="margin-left:25px;"> <b> <%= @name.email %> </b></p>
  					<p class="post-content"; style="margin-left:25px";> <%= @p.content %> </p>
  				</div>

  				<div class="col-sm-12" >
            	<%= link_to 'Edit', edit_post_path(@p) %><span class="glyphicon glyphicon-pencil"></span>
       				<%= link_to 'Delete', post_path(@p), data: {:confirm => 'Are you sure?'}, :method => :delete %> <span class="glyphicon glyphicon-remove"></span>
  				</div>

  			</div>

  		</div>
  		<% end %>

  	</div>


	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
  				ABOUT
			</div>
		</div>
	</div>

</div>


