<div class="rows">
	<div class="jumbotron">
		<center>
			<b><p style="color:#black;font-size:25px;"><%= current_user.email %></p></b>
		</center>
	</div>
</div>




<div class="rows">

	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
  				INFO
			</div>
		</div>
	</div>

	<div class="col-xs-6">


		<div class="panel panel-default">
  			<div class="panel-body">
  				<%= render '/components/posts_form' %>
			</div>
		</div>


		<div class="panel panel-default">
  			<div class="panel-body">
				<center> <b> Tweets by <%= @username %> </b></center>
			</div>
		</div>



		<% for @p in @posts%>
		<div class="panel panel-default">
  			<div class="panel-body">
  				<p><%= @p.content %></p>
			</div>
		</div>
		<% end %>



	</div>

	<div class="col-xs-3">
		
		<div class="panel panel-default">
  			<div class="panel-body">
  				<b>WHO TO FOLLOW</b>
  				<% @users.each do |user| %>
  					<br/>
  					<a href="/user/<%=user.email%>"><%= user.email %></a>
  				<% end %>
			</div>
		</div>
		
		<div class="panel panel-default">
  			<div class="panel-body">
  				TRENDS
			</div>
		
		</div>
	</div>

</div>


