


<div class="rows">
	<div class="jumbotron" style="padding: 100px;">
		<center>
			<b><p style="color:blue;font-size:25px;font-weight:bold;"><%= @username %></p></b>
		  <%= render 'layouts/follow_form' if user_signed_in? %><br>

      <% if user_signed_in? %>
      <% unless current_user == @user_of_current_profile %>
          <div>
            <%= form_tag "send_mail", method: :post , :authenticity_token => true, remote: true do %>
              <%= hidden_field_tag :receiver_id, @user_of_current_profile.id%>
              <p style="color:#29e5c2;font-weight:bold;"> Subject <%= text_field_tag(:p) %> </p>
              <p style="color:#29e5c2;font-weight:bold;"> Body &nbsp&nbsp&nbsp <%= text_field_tag(:b) %> </p>
              <%= submit_tag "Send Mail", class: "btn btn-warning" %>
            <% end %>
          </div>
      <% end %>
      <% end %>
 

		</center>
	</div>
</div>




<div class="rows">

	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
  				<section class="stats">
        			<%= render 'layouts/stats_profile' %>
      			</section>
			</div>
		</div>
	</div>


	<div class="col-xs-6">

		<% if user_signed_in? and current_user == @user_of_current_profile %>
		<div class="panel panel-default">
  			<div class="panel-body">
  				<%= render '/posts/posts_form' %>
			</div>
		</div>	
		<% end %>

		<% for @p in @posts%>
		<div class="panel panel-default">
  			<div class="panel-body row">

  				<div class="col-sm-1">
  					<img src="/profile2.jpg" height="40" width="50">
  				</div>

  				<div class="col-sm-11">
  					<% @name = User.find_by_id(@p.user_id) %>
  					<p class="post-title"; style="margin-left:25px;"><span style="background-color:#80b3ff;padding: 5px;"> <font size="3"><b> <%= @username %> </b></font></p>
  					<p class="post-content"; style="margin-left:25px";><span style="background-color:#e6ffb3;padding: 5px;"> <font size="4"> <%= @p.content %> </p><br>
  				</div>

  				<% if user_signed_in? and current_user.id == @p.user_id %>

  				<center>
            <div class="col-sm-12" >
            	<%= link_to 'Edit', edit_post_path(@p) %><span class="glyphicon glyphicon-pencil" style="padding-right: 15px;"></span>
       				<%= link_to 'Delete', post_path(@p), data: {:confirm => 'Are you sure?'}, :method => :delete %> <span class="glyphicon glyphicon-remove"></span>
  				  </div>
          </center>

  				<% end %>

  			</div>

  		</div>
  		<% end %>

  	</div>


	<div class="col-xs-3">
		
		<div class="panel panel-default">
  			<div class="panel-body">

          <ul class="list-group">
              <li class="list-group-item">WHO TO FOLLOW</li>
      				<% @users.each do |user| %>
                <a href="/user/<%=user.id%>" class="list-group-item list-group-item-info"><%= user.email %></a>
      				<% end %>
          </ul>
			  </div>
		</div>
		
		<div class="panel panel-default">
  			<div class="panel-body">
  				TRENDS
			</div>
		
		</div>
	</div>

</div>


