<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <b><h2><%=  @user.email %>  --  <%= @title %></h2></b>

  <% @users.each do |each_user|%>
      <div class="list-group">
        <a href="/user/<%=each_user.id%>" class="list-group-item"><%=each_user.email%></a>
      </div>
  <% end %>
</div>

</body>
</html>
